In [1]:
import os
import sys
sys.path.append('./src')
os.chdir(os.path.dirname(os.path.dirname(sys.path[0])))

In [2]:
from output_image import load_map_school1

In [3]:
school1_gdf = load_map_school1("./layouts/schoollayout1/schoollayout1.shp")

In [4]:
school1_gdf.to_file('./layouts/schoollayout1/schoollayout1_processed.shp')

In [5]:
school1_gdf

        Id    room_type                                           geometry
0       33         None  POLYGON ((529.500 -677.500, 473.500 -677.500, ...
1       37         None  POLYGON ((583.500 -677.500, 532.500 -677.500, ...
2       49         None  POLYGON ((529.500 -679.500, 473.500 -679.500, ...
3       51         None  POLYGON ((583.500 -679.500, 532.500 -679.500, ...
4       59         None  POLYGON ((689.500 -680.500, 606.500 -680.500, ...
..     ...          ...                                                ...
347  10647         None  POLYGON ((407.500 -1516.500, 398.500 -1516.500...
348  10654         None  POLYGON ((518.500 -1516.500, 430.500 -1516.500...
349  10664         None  POLYGON ((647.500 -1516.500, 559.500 -1516.500...
350  90000  recess_yard  POLYGON ((750.000 -1000.000, 750.000 -710.000,...
351  90001  recess_yard  POLYGON ((430.000 -1400.000, 430.000 -1150.000...

[352 rows x 3 columns]